@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.screen {
  display: flex;
  padding: 16px;
  width: 60rem;
  margin-bottom: 600px;
}

.left {
}

.center {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .input-top {
    border: none;
    background: transparent;
    outline: 0;
    resize: none;
    margin-bottom: 500px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
  }
  .paragrafo-wapper {
    display: flex;
    padding: 10px 0;
  }
}

.right {
}

.img__navbar {
  /* display: block; */
}

.wapper__aside {
  display: flex;
  flex-direction: column;
  margin: 0 190px;
  background-color: white;
  width: 350px;
  height: 700px;
  border-radius: 32px;
  gap: 16px;
}
.img__aside {
  margin-top: 200px;
  width: 300px;
  height: 250px;
}
.texto__img {
  font-family: "Inter Tight", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  letter-spacing: 2px;
  color: #343a40;
}
.paragrafo-img {
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: center;
}

.btn__criptografar {
  width: 300px;
  height: 40px;
  border-radius: 24px;
  border: 1px solid;
  background: #0a3871;
  text-align: center;
  line-height: 19.36px;
  color: #ffffff;
  border: none;
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: center;
}
.btn__descriptografar {
  width: 300px;
  height: 40px;
  border-radius: 24px;
  border: 1px solid;
  background-color: #d8dfe8;
  color: #0a3871;
  text-align: center;
  line-height: 19.36px;
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: center;
}

.btns-p {
  display: flex;
  flex-direction: column;
  gap: 8px;
  letter-spacing: 1px;
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 16px;
  top: 885px;
}
.logo-group {
  width: 16px;
  height: 16px;
}
.p-btn {
  font-weight: 400;
  size: 12px;
  line-height: 18px;
  font-family: "Inter Tight", sans-serif;
  height: 18px;
  color: #495057;
  opacity: 0.8;
  margin-left: 10px;
}
